<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <img height="110px" width="110px" src="https://images.vexels.com/media/users/3/181729/isolated/lists/182eeddf769c0199414c01cddea6eaf6-saludo-del-dia-del-chocolate-feliz-dia-del-chocolate.png">
    <a style="font-size: 40px; color: #45322E;" class="navbar-brand fw-bolder" routerLink="/">CHOCOBOL</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarNav">
      <ul style="font-size: 20px;" class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/productos">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/formulario">Formulario de compra</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contactos">Contactanos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
