<h1 class="px-4">Formulario de contacto</h1>
<div class="m-5 row">
  <form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Nombre completo</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3 pt-4">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
  </form>

  <form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Duda o queja</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Numero de celular</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <button type="submit" class="btn btn-primary">Enviar consulta</button>
  </form>
  </div>
  <h1 class="px-4">Nuestra ubicacion</h1>
  <div class="px-5">
    <br>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1930976.183713199!2d-66.37810296875003!3d-19.044476900000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93fbcf5502809a61%3A0x72333454d6d3ca8c!2sChocolates%20El%20Ceibo!5e0!3m2!1ses!2sbo!4v1652931678862!5m2!1ses!2sbo" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  <p>Villa imperial, calle zapatos rotos, esquina rosento Guto, #400</p>
  <div class="row">
    <a href=""><img src=""></a>
  </div>

  </div>
